<div class="slides">
  <!--  <ion-slides [options]="slidesOptions"> -->
  <!-- <ion-slide style="margin-left: -0.9rem;"> -->
  <ion-row s>
    <ion-col>
      <ion-card >
        <ion-card-subtitle class="text-info">15000</ion-card-subtitle>
        <ion-card-header style="margin-top: -20px;">
          <div class="main">
            <!-- <img src="../../../assets/icon/caixa-de-entrada.png" /> -->
          </div>
        </ion-card-header> 
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-subtitle class="text-info">300</ion-card-subtitle>
        <ion-card-header style="margin-top: -20px;">
          <div class="main">
            <!-- <img src="../../../assets/icon/contorno-da-caixa-de-saida.png" /> -->
          </div>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-subtitle class="text-info">23000</ion-card-subtitle>
        <ion-card-header style="margin-top: -20px;">
          <div class="main">
            <!-- <img src="../../../assets/icon/tempo-total.png" /> -->
          </div>
          <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
        </ion-card-header>
      </ion-card>
    </ion-col>
    
   
  </ion-row>

  <!-- </ion-slide> -->
</div>
