<div class="slides">
<!--  <ion-slides [options]="slidesOptions"> -->
    <!-- <ion-slide style="margin-left: -0.9rem;"> -->
      <ion-row>
    <ion-col >
      <ion-card>
        <ion-card-subtitle class="text-info">15000</ion-card-subtitle>
        <ion-card-header>
          <div class="main">
            <img src="../../../assets/icon/caixa-de-entrada.png">
          </div>
          <!-- <img class="files" src="../../../assets/icon/caixa-de-entrada.png"> -->
        </ion-card-header>
        

      </ion-card>
    </ion-col>
    <ion-col >
      <ion-card> 
        <ion-card-subtitle class="text-info">300</ion-card-subtitle>
        <ion-card-header>
          <div class="main">
            <img src="../../../assets/icon/contorno-da-caixa-de-saida.png">
          </div>
          <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
        </ion-card-header>

      </ion-card>
    </ion-col>
    <ion-col >
      <ion-card>
        <ion-card-subtitle class="text-info">23000</ion-card-subtitle>
        <ion-card-header>
          <div class="main">
            <img src="../../../assets/icon/tempo-total.png">
          </div>
          <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
        </ion-card-header>
  
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card> 
        <ion-card-subtitle class="text-info">Bom</ion-card-subtitle>
        <ion-card-header>
          <div class="main">
            <img src="../../../assets/icon/status1.png">
          </div>
          <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
        </ion-card-header>
  
      </ion-card>
    </ion-col>
  </ion-row>
      

     

     

      
    <!-- </ion-slide> -->
</div>
