<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ofertas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-end">
    <ion-button (click)="addOferta()">
      <ion-icon slot="end" name="add"></ion-icon>
    </ion-button>
  </div>

  
  
  <ion-row style="border-bottom: groove; color:brown; font-size: inherit;
  background: antiquewhite;
  font-weight: bold;" >
    <ion-col col-4>
      <ion-label>#</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label>Valor</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label>Data</ion-label>
    </ion-col>
  </ion-row>

  <div *ngFor="let item of allOfertas">
    <ion-row style="border-bottom: groove;">
      <ion-col col-4>
        <ion-label>1</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{item.valor}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>{{item.data | date:"yyyy/MM/dd"}}</ion-label>
      </ion-col>
    </ion-row>
  </div>


</ion-content>